html
body
  height: 100%;
body
  margin: 0
  padding: 0;
  color #444
*
  box-sizing: border-box

/** 
*             Elements
*/
.center.aligned
  text-align: center

.btn
  display: inline-block;
  color: #444
  padding: 10px 20px
  border-radius: 3px
  text-decoration: none;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.13)
  transition: all .3s
  &:hover
    box-shadow: 0 4px 16px  -3px rgba(0,0,0,.23)
  &:active
    box-shadow: 0 1px  2px  -1px rgba(0,0,0,.13)
    transform: translateY(2px)
.btn.primary
  color:white
  background-color: #13eab2
  box-shadow: 0 3px 3px -1px rgba(0, 138, 102, 0.53)
.btn.danger
  color:white
  background-color: #f76d68;
  box-shadow: 0 3px 3px -1px rgba(255, 41, 41, 0.53);

.btn.isLoading
  &:before
    content url(../icon/loading.gif)
    display: inline-block;
    vertical-align: -5px;

.icon
  &:before
    content: ""
    display: inline-block
    width: 2em
    height: 2em
    background-position: center
    background-size: cover


.icon.list:before
  background-image: url(../icon/list.svg)
.icon.list.active:before
  background-image: url(../icon/list-active.svg)
.icon.setting:before
  background-image: url(../icon/setting.svg)
.icon.setting.active:before
  background-image: url(../icon/setting-active.svg)
  




.hidden
  display: none!important;

/** 
*             Panels
*/
.box.login
  position: absolute
  background-color: white
  z-index: 500
  top: 0
  left: 0
  height: 100%;
  width: 100%;
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  .form
    text-align: center
  h1
    font-family: Georgia ,"Times New Roman", "FangSong", "仿宋", "STFangSong", "华文仿宋", serif ;
  input
    border:0;
    border-bottom: 2px dashed #444
    padding: 5px 10px;
    text-align: center
    outline: 0
    -webkit-appearance: none;
/** 
*            App
*/
.main-panel
#app
  display: flex
  height: 100%
  width: 100%
  flex-direction: column
.container-wrapper
  position: relative
  flex: 1;
  overflow: hidden;
.container
  width: 100%
  height: 100%
  position: relative
.content
  padding-top:42px
  height: 100%
  overflow: auto;
  .notify
    text-align: center
  .card
    margin: 20px
    text-align:  left
    padding: 10px 20px
    border-radius: 2px
    background-color: white
    box-shadow: 0 3px 12px -3px rgba(0,0,0,0.23)
    &.active
      animation: activeClass 2s infinite
  .card-aside
    float: left
    color: #444
    width: 6em
    span
      font-size: 16px;
  .card-main
    display: table-cell
    position: relative
    padding-left:3em
    &:before
      content: '';
      display: inline-block;
      position: absolute;
      border-right: 2px dashed rgba(0,0,0,0.32);
      width: 1px;
      left: 1.5em;
      transform: translateX(-1px)
      height: 100%;
    p
      margin: 0 0 .5em 0
  .class-name
    font-size: 16px;
  .class-id
    font-size: 12px;
.content_action   
  text-align: center
  padding: 2em 0 3em

@keyframes activeClass 
  0%
  100%
    box-shadow: 0 2px 3px rgba(255, 137, 137, 0.44), 0 3px 4px rgba(0, 0, 0, 0.12);
  50%
    box-shadow: 0 5px 30px rgba(255, 137, 137, 0.44), 0 3px 3px 1px rgba(255, 137,137,0.44)

@media screen and (min-width:768px)
  .card
    display: inline-block

.content
  position: absolute
  top: 0
  width: 100%
  height: 100%;
  overflow: auto;
  background-color: #f1f1f1;
  transform-style: flat
  transform: translateX(100%);
  transition: all 0.3s ease-in-out
  opacity: 0
.content.active
  transform: translateX(0);
  opacity: 1
.content_today
.content_tomorrow
  text-align: center
.setting-content
  p.center.aligned
    max-width: 768px;
    margin:1.3em auto 
  .pd1em
    padding: 1.7em
/***
*              Table
*/
.update-time
  color  #afafaf

tableNth = 1,2,3,4,5,6
tableTimes = '上午8:00至9:40','上午10:05至11:45','下午2:00至3:40','下午4:05至5:45','晚上7:00至8:40','晚上8:50至10:30';

.table-all_class
  border-collapse: collapse
  overflow: auto;
  width: 100%;
  display: block;
  background-color: white
  tbody
    for nth, i in tableNth
      tr:nth-child({nth})
        &:before
          content: tableTimes[i]
    tr:nth-child(2)
    tr:nth-child(4)
      border-bottom: 2px solid pink
    tr:before
      display: table-cell;
      vertical-align: middle
    td
      border:1px solid rgba(0,0,0,.12)
      min-width: 6em;

      

table.noWeekend
  th:nth-child(7)
  th:nth-child(8)
    display: none
  tr
    td:nth-child(6)
    td:nth-child(7)
      display: none
  

.table-cell
  display: block
  &.thisWeek
        background-color: rgba(11, 253, 15, 0.43);
        animation: blink 4s infinite
  p
    margin: 0
@keyframes blink
  0%
    background-color: #05e298;;
  50% 
    background-color white
  100%  
    background-color: #05e298;;
.nav-bar
  height: 40px;
  position: relative
  display: flex
  justify-content: space-around
  align-items: center
  border-top:1px solid rgba(0, 0, 0, 0.09)
  a
    text-decoration: none;


 

.fade-enter-active {
  animation: fade-in .5s;
}
.fade-leave-active {
  animation: fade-out .5s;
}
@keyframes fade-in {
  0% {
    transform: translateX(50%)
    opacity: 0
  }
  100% {
    transform: translateX(0);
    opacity: 1
  }
}
@keyframes fade-out {
  0% {
    transform: translateX(0);
    opacity: 1
  }
  100% {
    transform: translateX(-50%)
    opacity: 0
  }
}