doctype html
html(lang="zh")
  head
    title= title
    meta( name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" )  
    meta(charset="utf-8")
    meta(name='theme-color', content='#016946')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='manifest', href='./manifest.json')
    meta(name='application-name', content='重邮课表')
    meta(name='mobile-web-app-capable', content='yes')
    link(rel='icon', sizes='192x192', href='./cykb192.png')
    link(rel='icon', sizes='128x128', href='./cykb128.png')
    link(rel="short icon", href="./cykb128.png" type="image/png")
    link(rel="stylesheet", href="./css/index.css")
  body
    block content
    
    
