html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
/** 
*             Elements
*/
.center.aligned {
  text-align: center;
}
.btn {
  display: inline-block;
  color: #444;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.13);
  transition: all 0.3s;
}
.btn:hover {
  box-shadow: 0 4px 16px -3px rgba(0,0,0,0.23);
}
.btn:active {
  box-shadow: 0 1px 2px -1px rgba(0,0,0,0.13);
  transform: translateY(2px);
}
.btn.primary {
  color: #fff;
  background-color: #13eab2;
  box-shadow: 0 3px 3px -1px rgba(0,138,102,0.53);
}
.btn.danger {
  color: #fff;
  background-color: #f76d68;
  box-shadow: 0 3px 3px -1px rgba(255,41,41,0.53);
}
.btn.isLoading:before {
  content: url("../icon/loading.gif");
  display: inline-block;
  vertical-align: -5px;
}
.icon:before {
  content: "";
  display: inline-block;
  width: 2em;
  height: 2em;
  background-position: center;
  background-size: cover;
}
.icon.list:before {
  background-image: url("../icon/list.svg");
}
.icon.list.active:before {
  background-image: url("../icon/list-active.svg");
}
.icon.setting:before {
  background-image: url("../icon/setting.svg");
}
.icon.setting.active:before {
  background-image: url("../icon/setting-active.svg");
}
.hidden {
  display: none !important;
}
/** 
*             Panels
*/
.box.login {
  position: absolute;
  background-color: #fff;
  z-index: 500;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box.login .form {
  text-align: center;
}
.box.login h1 {
  font-family: Georgia, "Times New Roman", "FangSong", "仿宋", "STFangSong", "华文仿宋", serif;
}
.box.login input {
  border: 0;
  border-bottom: 2px dashed #444;
  padding: 5px 10px;
  text-align: center;
  outline: 0;
  -webkit-appearance: none;
}
/** 
*            App
*/
.main-panel,
#app {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.container-wrapper {
  position: relative;
  flex: 1;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.content {
  padding-top: 42px;
  height: 100%;
  overflow: auto;
}
.content .notify {
  text-align: center;
}
.content .card {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: 0 3px 12px -3px rgba(0,0,0,0.23);
}
.content .card-aside {
  float: left;
  color: #444;
  width: 6em;
}
.content .card-aside span {
  font-size: 16px;
}
.content .card-main {
  display: table-cell;
  padding-left: 10px;
}
.content .card-main p {
  margin: 0 0 0.5em 0;
}
.content .class-name {
  font-size: 16px;
}
.content .class-id {
  font-size: 12px;
}
.content_action {
  text-align: center;
  padding: 2em 0 3em;
}
.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  transform-style: flat;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.content.active {
  transform: translateX(0);
  opacity: 1;
}
/***
*              Table
*/
.table-all_class {
  border-collapse: collapse;
}
.table-all_class tbody tr:nth-child(1):before {
  content: '上午8:00至9:40';
}
.table-all_class tbody tr:nth-child(2):before {
  content: '上午10:05-11:45';
}
.table-all_class tbody tr:nth-child(3):before {
  content: '下午2:00-3:40';
}
.table-all_class tbody tr:nth-child(4):before {
  content: '下午4:05-5:45';
}
.table-all_class tbody tr:nth-child(5):before {
  content: '晚上7:00-8:40';
}
.table-all_class tbody tr:nth-child(6):before {
  content: '晚上9:05-10:45';
}
.table-all_class tbody tr:nth-child(2),
.table-all_class tbody tr:nth-child(4) {
  border-bottom: 2px solid #ffc0cb;
}
.table-all_class tbody tr:before {
  display: table-cell;
  vertical-align: middle;
}
.table-all_class tbody td {
  border: 1px solid rgba(0,0,0,0.12);
  min-width: 6em;
}
table.noWeekend th:nth-child(7),
table.noWeekend th:nth-child(8) {
  display: none;
}
table.noWeekend tr td:nth-child(6),
table.noWeekend tr td:nth-child(7) {
  display: none;
}
.table-cell {
  display: block;
}
.table-cell.thisWeek {
  background-color: rgba(11,253,15,0.43);
}
.table-cell p {
  margin: 0;
}
.nav-bar {
  height: 40px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(0,0,0,0.09);
}
.nav-bar a {
  text-decoration: none;
}
.fade-enter-active {
  animation: fade-in 0.5s;
}
.fade-leave-active {
  animation: fade-out 0.5s;
}
@-moz-keyframes fade-in {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%);
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%);
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%);
    opacity: 0;
  }
}
